body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

canvas {
  position: absolute;
  z-index: 1;
  background-color:#312;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 2;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    margin-bottom: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text {
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 5;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: #312 0px 0px 10px;
    text-align: center;
    padding-bottom: 5px;
}


.header_text {
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: #312 0px 0px 10px;
    text-align: center;
    padding-bottom: 5px;
}

.header_text2 {
  font-size: 30px;
  width: 300px;
  margin-top: -150px;
}

.container2 {
  gap: 10px;
  z-index: 5;
  margin-top: 150px;
}

a {
  z-index: 5;
  margin-top: 50px;
  text-decoration: none;
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 49, 169);
  text-shadow: rgb(255, 255, 255) 0px 0px 10px;
  text-align: center;
  padding-bottom: 5px;
}

input {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 5;
  font-family: monospace;
  font-weight: bold;
  text-shadow: #312 0px 0px 10px;
  text-align: center;
  padding-bottom: 5px;
}

.send {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  z-index: 5;
  font-family: monospace;
  font-weight: bold;
  text-shadow: #312 0px 0px 10px;
  text-align: center;
}

.love {
  width: 90%;
  color: white;
  font-size: 18px;
  font-family: monospace;
  text-shadow: #312 0px 0px 10px;
  text-align: center;
  padding-bottom: 5px;
}

img {
  margin-top: -100px;
  margin-left: 70px;
}